<% include header.ejs %>


<div class="container-fluid">
    <div class="row">
                <% for(let folder of folders) {%>
                    <div class="cover">
                        <a href="/video/<%= folder.media_id %>" title="<%= folder.media_name %>"  > <img class="cover" src="<%= folder.cover %>" /></a>
                    </div>
                <% } %>
    </div>
</div>


<% include footer.ejs %>
