<html>
<head>


    <script src="/javascript/jquery.slim.min.js"></script>
    <script src="/javascript/bootstrap.bundle.js"></script>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #283E47; padding: 0 20px">
        <a class="navbar-brand" href="#">Zabava</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Folder
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/folder/movies">Movies</a>
                    <a class="dropdown-item" href="/folder/tv_shows">TV Shows</a>
                </div>
            </div>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">List View <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Log Out</a>
                </li>
            </ul>
            <form class="form-inline" style="margin-top: 10px">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>

<main>
