<html>
<head>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
<ul>
  <% for(let file of files) {%>
    <li><a href="/video/<%= file.fileId %>" title="<%= file.media_name %>" ></a> </li>
  <% } %>
</ul>

</body>
</html>


