<html>
<head>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
<form>
    <input type="text" name="login" placeholder="Username" />
    <input type="password" name="password" />
    <button type="submit">Login</button>
</form>

</body>
</html>


