<html>
<head>

    <script src="/javascript/jquery.slim.min.js"></script>
    <script src="/javascript/bootstrap.bundle.js"></script>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>


<div class="login-outer">
    <div class="login-middle">
        <div class="login-inner">
            <form class="login-form" method="POST" action="/" enctype="application/x-www-form-urlencoded">
                <h2>ZABAVA</h2>
                <div class="form-group"  >
                    <label for="username" hidden>Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password" hidden>Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>


