<html>
<head>

    <link href="/stylesheets/video-js.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
<video id="my-video" class="video-js vjs-default-skin video-player" height="600px" controls preload="auto" data-setup='{"fluid": true}'>
    <source src="<%= src %>" type="video/mp4">
</video>

<script src="/javascript/video.js"></script>

</body>
</html>


